<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//en"
        "http://mybaties.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.waimai.mapper.UserMapper">
    <resultMap id="userMap" type="com.qf.waimai.pojo.Users">
      <!--  private int userId;//用户id
        private String userName;//用户名
        private String userPwd;//用户密码
        private String uname;//用户昵称
        private String email;//用户邮箱-->
        <id property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="userPwd" column="userPwd"/>
        <result property="uname" column="unames"/>
        <result property="email" column="email"/>
    </resultMap>
    <sql id="user_col">
        userId,
        userName,
        userPwd,
        unames,
        email
    </sql>
    <select id="findUserInfo" parameterType="string" resultMap="userMap">
        select
        <include refid="user_col"/>
        from
        users u
        where
        u.userName = #{userName}
    </select>
    <insert id="save" parameterType="users">
        insert into users values(default,#{userName},#{userPwd},#{unames},#{email})

    </insert>

</mapper>